<h1>Usuarios</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary" [routerLink]="['/registrarse']">Nuevo</button>
  </div>
</div>

  <div class="contenedorGrande">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Portal</th>
          <th scope="col">Bloque</th>
          <th scope="col">Piso</th>
          <th scope="col">Letra</th>
          <th scope="col">Correo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersArray; let i = index">
          <td>{{i}}</td>
          <td>{{user.nombre}}</td>
          <td>{{user.apellidos}}</td>
          <td>{{user.portal}}</td>
          <td>{{user.bloque}}</td>
          <td>{{user.piso}}</td>
          <td>{{user.letra}}</td>
          <td>{{user.correo}}</td>
          <td class="text-right">
            <app-model (click)="onEdit(user)"></app-model>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

